.flex-container {
    opacity: 0.85;
    border: 5px solid rgb(63, 100, 63);
    width: -webkit-fill-available;
    width: -moz-available; /*for firefox supp*/
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: gray;
    background-image: linear-gradient(rgb(99, 131, 99), rgb(13, 129, 137));

    box-shadow: 0px 5px 10px rgb(163, 25, 25);
    border-radius: 25px;
    margin: auto;
    align-items: center;
    padding: 25px 25px 50px 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  body {
      background-color: #f1f1f1;
      font-family: "Segoe UI",Arial,sans-serif;
      background-image: url("white.jpg");
  }
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 25% 30px 25%;
    min-width: -webkit-fill-available;
}
input[type=text], input[type=password]{
  border: none;
  border-bottom: 2px solid DarkGray;
  padding-bottom: 10px;
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
  border-bottom: 2px solid DimGray;
}
  .button {
    background-color: rgb(39, 72, 105);
    color: rgb(18, 136, 214);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 2px 7px rgb(225, 222, 230);
    border-radius: 25px;
    margin: auto;
    width: 50%;
  }
  h1{
    color: white;
    font-weight: 400;
    font-size: 1.5em;
  }